[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
mysqlclient = "*"
phonenumbers = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-allauth = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
